html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #aa0000; /* Old browsers */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0033aa+0,3366cc+21,00aadd+51,3366cc+79,3366cc+79,0033aa+100 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(
    135deg,
    #c80c0c 0%,
    #be6060 21%,
    #bd4848 51%,
    #cc3333 79%,
    #cc3333 79%,
    #aa0000 100%
  );
}
#app {
  height: 100%;
  width: 100%;
  display: flex;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: $m-size !important;
}
a {
  text-decoration: none;
}
.mainDiv {
  flex: 1 1 auto;
}
.center {
  display: flex;
  justify-content: center;
}
.row {
  width: 100%;
}

.MuiPaper-rounded-2 {
  border-radius: 5px !important;
}
.inline {
  display: inline-flex;
}
.pushdown {
  margin-top: 1.2rem;
}
.black {
  color: #757575;
}
