html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #b2b2b2;
}
#app {
  width: 100%;
  min-height: 100%;
  display: flex;
}
.AppBar-root-1 {
  height: unset !important;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: $m-size !important;
}
a {
  text-decoration: none;
}
.mainDiv {
  flex: 1 1 auto;
}
.center {
  display: flex;
  justify-content: center;
}
.row {
  width: 100%;
}

.MuiPaper-rounded-2 {
  border-radius: 5px !important;
}
.inline {
  display: inline-flex;
}
.pushdown {
  margin-top: 1.2rem;
}
.black {
  color: #757575;
}
